<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments :: head(title='I Miei Centri Sportivi')"></th:block>
</head>

<body>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height:100vh;">

    <h1 class="mb-5">I Miei Centri Sportivi</h1>

    <!-- Messaggio di avviso che compare solo qualora la lista di centri sportivi sia vuota -->
    <div class="alert alert-info w-100 text-center" role="alert" th:if="${messaggio != null}">
        <h4 th:text="${messaggio}"></h4>
    </div>

    <!-- Tabella con dati principali di tutti i centri sportivi-->
    <table class="table table-striped table-hover" th:if="${lista.size() > 0}">
        <thead>
        <tr class="table-dark">
            <th scope="col">Nome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Città</th>
            <th class="text-center" scope="col">Quota d' iscrizione</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="centroSportivo : ${lista}" th:object="${centroSportivo}">
            <td class="align-middle" th:text="*{nome}"></td>
            <td class="align-middle" th:text="*{indirizzo}"></td>
            <td class="align-middle" th:text="*{citta}"></td>
            <td class="align-middle text-center" th:text="&euro; + ' ' + *{quotaIscrizione}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>