<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments :: head(title='Centro sportivo')"></th:block>
</head>

<body>

<!--Navbar-->
<th:block th:replace="fragments :: navbar"></th:block>

<div class="container d-flex flex-column justify-content-center " th:object="${centroSportivo}">

    <!--Specifiche centro sportivo-->
    <section class="mt-5">

        <h1 class="mb-5 text-center" th:text="*{nome}"></h1>

        <dt>Descrizione</dt>
        <dd th:if="*{descrizione} != ''" th:text="*{descrizione}"></dd>
        <dd th:unless="*{descrizione}!= ''"> - </dd>

        <dt>Indirizzo</dt>
        <dd th:text="*{indirizzo}"></dd>

        <dt>Città</dt>
        <dd th:text="*{citta}"></dd>

        <dt>Quota d' iscrizione prevista</dt>
        <dd th:text="&euro; + ' ' + *{quotaIscrizione}"></dd>

<!--        <dt>Sport praticabili</dt>-->
<!--        <ul>-->
<!--            <li th:each="css : ${centroSportivoSports}" th:text="${css.sport.nome}"></li>-->
<!--        </ul>-->


    </section>

    <!--Membri iscritti a questo centro sportivo-->
    <section>

        <h3 class="mt-5 mb-3">Membri</h3>
        <table class="table table-striped table-hover" th:if="*{membri.size() > 0}" >
            <thead>
            <tr class="table-dark">
                <th scope="col">Nome </i></th>
                <th scope="col">Cognome</th>
                <th scope="col">Email</th>
                <th scope="col">Sport</th>
                <th scope="col" class="text-center">Data di nascita</th>
                <th scope="col" class="text-center">Data d' iscrizione</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="membro : ${centroSportivo.membri}" th:object="${membro}"  class="align-middle">
                <td th:text="*{nome}" class="align-middle"></td>
                <td th:text="*{cognome}" class="align-middle"></td>
                <td th:text="*{email}" class="align-middle"></td>
                <td class="align-middle">
                    <span th:each="sport, index : *{sports}">
                        <span th:text="${sport.nome}"></span>
                        <span th:if="${!index.last}">, </span>
                    </span>
                </td>
                <td th:text="*{#temporals.format(dataDiNascita, 'dd/MM/yyyy')}" class="text-center align-middle"></td>
                <td th:text="*{#temporals.format(dataIscrizione, 'dd/MM/yyyy')}" class="text-center align-middle"></td>
                <td class="align-middle">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="#" method="post">
                            <button type="submit" class="btn text-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Messaggio di avviso che compare solo qualora la lista di membri del centro sportivo sia vuota-->
        <div class="alert alert-info" th:unless="*{membri.size() > 0}">Non ci sono ancora iscritti</div>

    </section>

    <div class="d-flex justify-content-between align-items-center my-5">
        <!--Porta al form di creazione membro-->
        <div>
            <a class="btn btn-outline-dark" th:href="@{/membri/create(centroSportivoId=*{id})}">
                <i class="fa-solid fa-plus mx-1"></i> Membro</a>
        </div>

        <!--Per tornare alla lista di tutti i centri sportivi-->
        <div>
            <a class="btn btn-dark" th:href="@{/centri-sportivi}">Torna alla lista</a>
        </div>

    </div>

</div>
</body>
</html>